button:hover {
    background-color: #5f5f5f;
    color: #FFF;
}

button {
    background-color: #ddddd3;
    color: black;
    margin-bottom: 3%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;

}

span {
    color: #000000;
}

body {
    background-color: aliceblue;

}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr th {

    background-color: #e4e3e3;
    padding: 10px 0;
    color: #000000;
    position: sticky;
    top: 0;
    left: 0;
    font-weight: 500;
}

table thead tr {
    border: 1px solid #656565;
}

table tbody tr td {
    text-align: center;
    padding: 8px 0;
    background-color: #FFF;
    color: #000000;
}

table td,
table th {
    border: 1px solid #b4aeae;
}

input {
    height: 35px;
    padding: 0 10px;
}

div.lb-record.disable {

    display: none;

}

.white-space-nowrap {
    white-space: nowrap;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-20-px {
    width: 20px;
}

.w-30-px {
    width: 30px;
}

.w-35-px {
    width: 35px;
}

.w-40-px {
    width: 40px;
}

.w-70-px {
    width: 70px;
}

.w-80-px {
    width: 80px;
}

.w-100-px {
    width: 100px;
}

.w-115-px {
    width: 115px;
}

.w-150-px {
    width: 150px;
}

.w-200-px {
    width: 200px;
}

.w-300-px {
    width: 300px;
}

.w-355-px {
    width: 355px;
}

.w-400-px {
    width: 400px;
}

.h-100 {
    height: 100%;
}

.h-95 {
    height: 95%;
}

.h-94 {
    height: 94%;
}

.h-93 {
    height: 93%;
}

.h-100-vh {
    height: 100vh;
}

.h-500-px {
    height: 500px;
}

.h-400-px {
    height: 400px;
}

.h-300-px {
    height: 300px;
}

.h-290-px {
    height: 290px;
}
.h-220-px {
    height: 220px;
}
.h-200-px {
    height: 200px;
}

.h-100-px {
    height: 100px;
}

.h-70-px {
    height: 70px;
}

.h-50-px {
    height: 50px;
}

.h-40-px {
    height: 40px;
}

.h-35-px {
    height: 35px;
}

.h-30-px {
    height: 30px;
}

.min-h-35-px {
    min-height: 35px;
}

.min-h-300-px {
    min-height: 300px;
}

.min-h-500-px {
    min-height: 500px;
}

.min-w-80-px {
    min-width: 80px;
}

.min-w-100-px {
    min-width: 100px;
}

.min-w-115-px {
    width: 115px;
}

.min-w-50 {
    min-width: 50%;
}

.min-w-50-px {
    min-width: 50px;
}

.max-w-76 {
    max-width: 76%;
}

.max-h-200-px {
    max-height: 200px;
}

.max-h-290-px {
    max-height: 290px;
}

.max-h-300-px {
    max-height: 300px;
}

.max-h-400-px {
    max-height: 400px;
}

.max-h-467-px{
    max-height: 467px;
}

.max-h-500-px{
    max-height: 500px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.border-1-solid {
    border: 1px solid black;
}

.border-red {
    border: 1px solid #FF0000;
}

.border-grey {
    border: 1px solid #efe5e5;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.p-2 {
    padding: 2px;
}

.px-2 {
    padding-left: 8px;
    padding-right: 8px;
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-1 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-3 {
    padding: 12px;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 12px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 20px;
}
.mt-6{
    margin-top: 24px;
}

.mt-10 {
    margin-top: 40px;
}

.mt-11 {
    margin-top: 44px;
}

.mt-12 {
    margin-top: 48px;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 12px;
}

.ml-4 {
    margin-left: 16px;
}
.ml-5{
    margin-left: 20px;
}
.ml-7{
    margin-left: 28px;
}
.my-3{
    margin-top: 12px;
    margin-bottom: 12px;
}
.my-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.m-0 {
    margin: 0;
}

.m-auto {
    margin: auto;
}
.mx-auto{
 margin-left: auto;
 margin-right: auto;
 margin-bottom: auto;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-1{
    margin-bottom: 4px;
}
.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}
.mb-5 {
    margin-bottom: 20px;
}

.mb-6 {
    margin-bottom: 24px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mr-3 {
    margin-right: 12px;
}

.pt-10 {
    padding-top: 40px;
}

.pt-5 {
    padding-top: 20px;
}

.pt-4 {
    padding-top: 16px;
}

.pt-3 {
    padding-top: 12px;
}

.pt-2 {
    padding-top: 8px;
}

.pl-1 {
    padding-left: 1%;
}

.pt-0 {
    padding-top: 0;
}

.pl-2 {
    padding-left: 2%;
}

.pl-3 {
    padding-left: 12px;
}
.pb-1{
    padding-bottom: 4px;
}
.pb-3 {
    padding-bottom: 12px;
}

.pb-4 {
    padding-bottom: 16px;
}

.pb-5 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 40px;
}

.pr-4 {
    padding-right: 16px;
}

.p-3 {
    padding: 12px;
}

.top-0 {
    top: 0px;
}

.top-12 {
    top: 12%;
}

.top-13 {
    top: 13%;
}

.top-16 {
    top: 16%;
}

.top-18 {
    top: 18%;
}

.top-33 {
    top: 33%;
}

.top-40 {
    top: 40%;
}

.top-41 {
    top: 41%;
}

.top-50 {
    top: 50%;
}

.top-52 {
    top: 52%;
}

.top-57 {
    top: 57%;
}

.top-61 {
    top: 61%;
}

.top-64 {
    top: 64%;
}

.top-72 {
    top: 72%;
}

.top-92-px {
    top: 92px;
}

.top-93-px {
    top: 93px;
}

.top-94-px {
    top: 94px;
}

.top-254-px {
    top: 254px;
}
.top-15-l{
    top: -15%;
}
.top-26-l {
    top: -26%;
}
.left-0 {
    left: 0;
}

.left-9 {
    left: 9%;
}

.left-10 {
    left: 10%;
}

.left-11 {
    left: 11%;
}

.left-12 {
    left: 12%;
}

.left-13 {
    left: 13%;
}

.left-30 {
    left: 30%;
}

.left-32 {
    left: 32%;
}

.left-33 {
    left: 33%;
}

.left-34 {
    left: 34%;
}

.left-35 {
    left: 35%;
}
.left-37{
    left: 37%;
}

.left-40 {
    left: 40%;
}

.left-41 {
    left: 41%;
}

.left-89-px {
    left: 89px;
}

.left-73-l {
    left: -73px;
}



.right-0 {
    right: 0;
}

.right-30 {
    right: 30%;
}

.right-73-px {
    right: 73px;
}

.left-266-px {
    left: 266px;
}

.bottom-0 {
    bottom: 0;
}

.bottom-5 {
    bottom: 5%;
}

.bottom-26 {
    bottom: 26%;
}

.bottom-35 {
    bottom: 35%;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.position-sticky {
    position: sticky;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.border-radius-3-px {
    border-radius: 3px;
}

.border-radius-5-px {
    border-radius: 5px;
}

.border-radius-50 {
    border-radius: 50%;
}

.bg-btn {
    background-color: #DDddddff;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-grey-default {
    background-color: #b2b2b221;
}

.bg-default {
    background-color: #517fa4;
}

.bg-default-td {
    background-color: #d8ebfa;
}

.bg-default-btn {
    background-color: #dddddd78;
}

.color-red {
    color: #FF0000;
}

.color-white {
    color: #FFF;
}

.color-default {
    color: #000000;
}

.color-bg-default {
    color: #517fa4;
}
.color-success{
    color: #0fb95f;
}
.cursor-pointer {
    cursor: pointer;
}

.bg-gray {
    background-color: #808080;
}

.box-shadow {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f-14-px {
    font-size: 14px;
}

.f-16-px {
    font-size: 16px;
}

.f-18-px {
    font-size: 18px;
}

.f-20-px {
    font-size: 20px;
}

.f-24-px {
    font-size: 24px;
}

.f-35-px {
    font-size: 35px;
}

.f-70-px {
    font-size: 70px;
}

.f-80-px{
    font-size: 80px;
}

.f-weight-400 {
    font-weight: 400;
}

.f-weight-900 {
    font-weight: 900;
}

input {
    color: #000000;
}

.pt-6-px {
    padding-top: 6px;
}

